.selectedProjects
    margin: 0 auto
    width: 100%
    margin-top: 350px
    transition: 1s
    opacity: 0
.selected-projects-visible
    margin-top: 100px
    opacity: 1


    .selected-rojects-title
        padding-bottom: 100px
        width: 90%
        margin: 40px auto
        
    .project 
        display: flex
        width: 90%
        justify-content: space-between
        margin: 0 auto
        gap: 10px
        flex-wrap: wrap
    