@use '../../sass/_mixins'
@use '../../sass/_variables'
    
.selectedProjects
    margin: 0 auto
    width: 100%
    margin-top: 350px
    transition: 1s
    opacity: 0
    padding-bottom: 20vh
.selected-projects-visible
    margin-top: 50px
    padding-top: 90px
    opacity: 1


    .selected-rojects-title
        padding-bottom: 100px
        width: 90%
        margin: 40px auto
        
    .project 
        display: flex
        width: 90%
        justify-content: space-between
        margin: 0 auto
        gap: 50px
        flex-wrap: wrap
        @include mixins.responsive-max-width-1240px
            gap: 60px
        @include mixins.responsive-max-width-1030px
            gap: 30px
        @include mixins.responsive-max-width-850px
            gap: 10px
            justify-content: center

    
.follow-cursor
    display: grid
    place-content: center
    color: variables.$white-color
    font-weight: 500
    width: var(--size, 15px)
    height: var(--size, 15px)
    border-radius: 50%
    z-index: 3
    transition: 20ms
    pointer-events: none
    overflow: hidden
    position: fixed
    top: var(--y, 50%)
    left: var(--x, 50%)
    background-color: variables.$arrow-color
    opacity: 0
    @include mixins.responsive-max-width-850px
        display: none

.follow-cursor-visible
    opacity: 1
